1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "ItQuasar"
      VALUE "FileDescription", "Simple and fast WAMP library for Qt"
      VALUE "FileVersion", "0.1"
      VALUE "InternalName", "libIqWamp"
      VALUE "LegalCopyright", "Copyright (C) 2016 Pavel A. Puchkov"
      VALUE "OriginalFilename", "libIqWamp.dll"
      VALUE "ProductName", "IqWamp"
      VALUE "ProductVersion", "0.1"
    END

    BLOCK "041904E3"
    BEGIN
      VALUE "CompanyName", "ItQuasar"
      VALUE "FileDescription", "Простая и быстрая WAMP-библиотека для Qt"
      VALUE "FileVersion", "0.1"
      VALUE "InternalName", "libIqWamp"
      VALUE "LegalCopyright", "Copyright (C) 2016 Павел А. Пучков"
      VALUE "OriginalFilename", "libIqWamp.dll"
      VALUE "ProductName", "IqWamp"
      VALUE "ProductVersion", "0.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252, 0x0419, 1251
  END
END
